#container {
    height: 95vh;
    width: 95vw;
}

#caseDiv {
    display: flex;
    justify-content: center;
}

#cases {
    align-self: center;
}

.grayedOut {
    color: gray;
}

.case {
    background-color: rgb(243, 243, 243);
    border: 5px;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    cursor: pointer;
    /*margin: auto;*/
}